
hmtl, body { 
	min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
	margin : 0px;
 	box-sizing: border-box;
}

.header {
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  height: auto;
}

#wrapper {
	display: flex;  /* use the flex model */
	  min-height: 100vh;
	  	height: 100%;

	flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

}

#myChart {
  flex: 1;
  border: 1px solid black;
}
#henkie {
  flex: 1;
/*  border: 1px solid black;
  margin: 10px;
    background: orange;*/

}

/* A page filling opaque layer that overlays the page to make the inside div 
containing a popup stand out */
.popClass{
	display: none;
	position: fixed;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);

	z-index: 2;
}

#configurationLayout{
    z-index: inherit;
    width:100px;
	height:100px;
    background-color: #0066ff;
}

/* A page filling opaque layer that overlays the page to make the inside div 
containing a popup stand out */
#selectBrewagePopup{
	display: inline;
	position: fixed;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);

	z-index: 2;
}

/* A flex container that holds the seperate share icons and which is displayed on top of the entire page */
.flex-container{
	z-index: inherit;
	position: fixed;
	top: 20%;
    left: 50%;
    transform: translate(-50%, 0); 	/* Horizontal centering the flex container itself */

	width: auto;
	height: auto;
  	padding: 15px;

  	display: inline-flex;
	align-items: center;		
  	flex-wrap: wrap;
  	justify-content: space-around;

	background-color :#FFF;
	border-radius: 25px;
	box-shadow: 0px 20px 20px #000;
}

.controlHolder{
    display: inline-block;		
    position: relative;
    border: 3px solid green; 
}

.btn{
    width:100px;
	height:100px;
	    border: 3px solid purple; 

}

#startStopHolder{
	width:400px;
		height:100px;

}
#tempControl{
	width:400px;
		height:100px;

}
#gaugeHolder {
  margin: 0 auto;
}

#tempButtons{
 	 float: left;
 	 vertical-align: middle
}
#tempGauge{
	 float: left;
	 width: 200px;
	 height: 200px;
}

#tempUp{
	display: inline-block;
   /* position: relative;
	vertical-align: middle;*/
	  margin-left: auto;
  margin-right: auto;
}

#TemperatureSP{
	display: inline-block;	
	vertical-align: middle;
	margin: 20px;
	/*text-align: center;
	
	margin-left: auto;
  	margin-right: auto;
  	margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);*/
	height: 100px;
}

#tempDown{
	display: inline-block;
	/*vertical-align: middle;
    position: relative;*/
      margin-left: auto;
  margin-right: auto;
}



#pbShowConfiguration{
	/*float: right;
	display: inline-block;	*/
		cursor: pointer;
	position: absolute;

	padding: 8px 16px;
	right: 0%;
	top: 50%;
	transform: translate(0%, -50%);

}

#userInputSection{
    border: 3px solid orange; 
    margin-left: auto;
    margin-right: auto;
}